.circular {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(../me.jpg) no-repeat;
}

.page-left{
	width: 40%;
	float: left;
	margin: 0 auto;
}

.page-right{
	width: 60%;
	float: left;
}